{% extends 'base.html' %}

{% block header %}
<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 40%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .center {
        text-align: center;
    }

</style>

<div class="center">
    <h1>LoRa Mesh</h1>
    <h1>Энергоэффективная Ячеистая Сеть Дальнего Радиуса Действия</h1>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="column">
        <div class="center">
            <h2>Полученное изображение</h2>
            <img src="" id="showImage" />
        </div>
    </div>
    
    <div class="column">
        <div class="center">
            <h2>Топология Сети</h2>
            <div id="mynetwork"></div>
        </div>
    </div>
    
</div>

    <script type="text/javascript">
        //function showPicture() {
        //    fetch('http://127.0.0.1:5000/api/get_image')
        //        .then(response => {
        //            if (!response.ok) {
        //            throw new Error('Network response was not ok');
        //            }
        //            return response.blob();
        //        })
        //        .then(myBlob => {
        //            console.log('show image');
        //            document.getElementById('showImage').src = URL.createObjectURL(myBlob) + new Date().getTime();
        //        })
        //        .catch(error => {
        //            console.error('There has been a problem with your fetch operation:', error);
        //        });
        //}
        function showPicture() {
            document.getElementById('showImage').src = "http://192.168.1.105:5000/api/get_image?" + new Date().getTime();
        }
        showPicture();
        setInterval(showPicture, 5000);
        
    </script>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <style type="text/css">
        #mynetwork {
            width: 800px;
            height: 500px;
            border: 0.5px solid lightgray;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    
    <script type="text/javascript">
        function displayTopology() {
            // create a network
            var container = document.getElementById('mynetwork');

            //offset for protocol type in loop
            fetch('http://192.168.1.105:5000/api/topology')
                .then(function(response) {
                return response.json();
                })
                .then(function(myJson) {
                    console.log(myJson);
                    var data = {
                        nodes: myJson.nodes,
                        edges: myJson.edges,
                    };
                    var options = {
                        autoResize: true,height:'100%',width: '100%',
                    };
                    var network = new vis.Network(container, data, options);
                });
        }
        displayTopology();
        setInterval(displayTopology, 10000);
    </script>
{% endblock %}